<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>webcontents/index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletManagement</display-name>
    <servlet-name>LoginServletManagement</servlet-name>
    <servlet-class>com.bimalabogati.web.LoginServletManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletManagement</servlet-name>
    <url-pattern>/LoginServletManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/SubmitRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPastTicketsServlet</display-name>
    <servlet-name>ViewPastTicketsServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewPastTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPastTicketsServlet</servlet-name>
    <url-pattern>/ViewPastTicketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementUpdateServlet</display-name>
    <servlet-name>ReimbursementUpdateServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ReimbursementUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementUpdateServlet</servlet-name>
    <url-pattern>/ReimbursementUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllTicketsServlet</display-name>
    <servlet-name>ViewAllTicketsServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewAllTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllTicketsServlet</servlet-name>
    <url-pattern>/ViewAllTicketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyTicketsServlet</display-name>
    <servlet-name>ViewMyTicketsServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewMyTicketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyTicketsServlet</servlet-name>
    <url-pattern>/ViewMyTicketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJSONmyticketsServlet</display-name>
    <servlet-name>ViewJSONmyticketsServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewJSONmyticketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJSONmyticketsServlet</servlet-name>
    <url-pattern>/ViewJSONmyticketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequests</display-name>
    <servlet-name>ViewPendingRequests</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequests</servlet-name>
    <url-pattern>/ViewPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingRequestsJSONServlet</display-name>
    <servlet-name>ViewPendingRequestsJSONServlet</servlet-name>
    <servlet-class>com.bimalabogati.web.ViewPendingRequestsJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingRequestsJSONServlet</servlet-name>
    <url-pattern>/ViewPendingRequestsJSONServlet</url-pattern>
  </servlet-mapping>
</web-app>